* {
    font-family: 'Lato', sans-serif;
}
.hero-image {
    background-image: url("/assets/image/hero.jpg");
    background-color: #cccccc;
    width: 1500px;
    height: 450px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
}
.nav-text {
    padding: 20px;
    color: #6c757d;
}
.nav nav-pills .row .show {
    color: #f8f9fa!important;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #f8f9fa!important;
    background-color: #118ab2;
}
.dropdown-menu.show {
    display: block;
    background-color: #f8f9fa!important;
}
a.navi-link.navi-text {
    color: #118ab2;
}
a:hover {
    color: #118ab2;
}
a.dropdown-item.nav-text {
    color: #118ab2;
}
.about-header {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #6c757d;
    border-bottom: #6c757d solid 1px;
}
.about-text {
    padding-left: 10px;
    max-width: 80%;
    text-align: left;
    word-spacing: 3px;
    max-width: 60ch;
    line-height: 140%;
}
.name{
    color: #118ab2;
    font-weight: 800;
}

.career-header {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #6c757d;
    border-bottom: #6c757d solid 1px;
}
.job-position {
    margin-top: 30px;
}
.job-text {
    color: #118ab2;
    text-align: left;
}
.date {
    font-size: 14px;
}

.skill-header {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #6c757d;
    border-bottom: #6c757d solid 1px;
}

.three-image {
    width: auto;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1%;
}
.card {
    border: 0;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.card-title {
    text-align: center;
    color: #118ab2;
}
.card-text{
    text-align: center;
}

.education-header {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #6c757d;
    border-bottom: #6c757d solid 1px;
}
.education-title {
    color: #118ab2;
}
/*timeline*/
/*reference:Bootstrap 4.1.1 Snippet by mylastof https://bootsnipp.com/snippets/xrKXW*/
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: rgba(108, 117, 125, 0.75);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #118ab2;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/*-------------------------------------------------------------------------------------*/
.education-line {
    margin-top: 30px;
}
.contact-header {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #6c757d;
    border-bottom: #6c757d solid 1px;
}
form.col-md-6.offset-md-3 {
    margin: auto;
}
label {
    color: #118ab2;
}
.btn-section {
    color: #118ab2;
    background-color: #f8f9fa!important;
}
.footer-section {
    margin: 0;
    background-color: #f8f9fa!important;
}
.footer-text {
    text-align: center;
}
.footer-text span {
    color: #6c757d;
}

/*media query*/
@media(min-width: 768px) {
    .my-img {
        margin-top: 60%;
    }
    .three-image{
        height: 200px;
    }

@media(min-width: 1024px) {
    .my-img {
        margin-top: 30%;
    }
}
