* {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}
.hero-image {
    background-image: url("/assets/image/hero.jpg");
    background-color: #cccccc;
    width: 150rem;
    height: 45rem;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
}
.nav-text {
    padding: 2rem;
    color: #6c757d;
    font-size: 1.6rem;
}
.nav nav-pills .row .show {
    color: #f8f9fa;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #f8f9fa;
    background-color: #118ab2;
}
.dropdown-menu.show {
    display: block;
    background-color: #f8f9fa!;
}
a.navi-link.navi-text {
    color: #118ab2;
}
a:hover {
    color: #118ab2;
}
a.dropdown-item.nav-text {
    color: #118ab2;
}
.about-header {
    padding-left: 1rem;
    text-align: left;
    color: #6c757d;
    border-bottom: #6c757d solid 1px;
    font-size: 2rem;
}
.about-text {
    padding-left: 1rem;
    text-align: left;
    word-spacing: .3rem;
    max-width: 60ch;
    line-height: 140%;
    font-size: 1.6rem;
}
.name {
    color: #118ab2;
    font-weight: 800;
    font-size: 1.6rem;
}
.career-header {
    padding-left: 1rem;
    text-align: left;
    color: #6c757d;
    border-bottom: #6c757d solid 1px;
    font-size: 2rem;
}
.career-text {
    text-align: left;
    font-size: 1.6rem;
}
.job-text {
    color: #118ab2;
    text-align: left;
    font-size: 1.6rem;
}
.date {
    font-size: 1.4rem;
}
.skill-header {
    padding-left: 1rem;
    text-align: left;
    color: #6c757d;
    border-bottom: #6c757d solid 1px;
    font-size: 2rem;
}
.three-image {
    width: auto;
    height: 30rem;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1%;
}
.card {
    border: 0;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.card-title {
    text-align: center;
    color: #118ab2;
    font-size: 2rem;
}
.card-text {
    text-align: center;
    font-size: 1.6rem;
}
.education-header {
    padding-left: 1rem;
    text-align: left;
    color: #6c757d;
    border-bottom: #6c757d solid 1px;
    font-size: 2rem;
}
.education-title {
    color: #118ab2;
    font-size: 2rem;
}
.education-text {
    font-size: 1.6rem;
}
/*timeline*/
/*reference:Bootstrap 4.1.1 Snippet by mylastof https://bootsnipp.com/snippets/xrKXW*/
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: rgba(108, 117, 125, .75);
    display: inline-block;
    position: absolute;
    left: 2.9rem;
    width: .2rem;
    height: 100%;
    z-index: 400;
}
ul.timeline>li {
    margin: 2rem 0;
    padding-left: 2rem;
}
ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: .3rem solid #118ab2;
    left: 2rem;
    width: 2rem;
    height: 2rem;
    z-index: 400;
}
/**/
.education-line {
    margin-top: 3rem;
}
.contact-section{
    padding: 0;
}
.contact-header {
    padding-left: 1rem;
    text-align: left;
    color: #6c757d;
    border-bottom: #6c757d solid 1px;
    font-size: 2rem;
}
.contact-title {
    font-size: 1.6rem;
}
.contact-input {
    font-size: 1.6rem;
}
form.col-md-6.offset-md-3 {
    margin: auto;
}
label {
    color: #118ab2;
}
.btn-section {
    color: #118ab2;
    background-color: #f8f9fa;
    font-size: 1.6rem;
}
.footer-section {
    padding: 0;
    background-color: #f8f9fa;
}
.footer-text {
    text-align: center;
    font-size: 1.6rem;
}
.footer-text span {
    color: #6c757d;
    font-size: 1.6rem;
}
/*media query*/
@media(min-width: 768px) {
    .my-img {
        margin-top: 60%;
    }
    .three-image {
        height: 20rem;
    }
    @media(min-width: 992px) {
        .my-img {
            margin-top: 20%;
        }
    }
    @media(min-width: 1024px) {
        .my-img {
            margin-top: 15%;
        }
    }